.canvas{
    height: 625px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: -150px 0 0 -110px 
}

.head{
    height:200px;
    width:250px;
    background-color: orange;
    border-radius: 50% 50% 20% 20%;
    z-index: 9;
    transform: translateY(80%);
}

#stripes1, #stripes2, #stripes3{
    position: absolute;
}
.ears{
    position: relative;
    transform: translateX(150%) translateY(110%);
    display: flex;
}

.left_ear{
    height: 100px;
    width: 60px;
    border-radius: 0 100% 0 0;
    transform: translateX(-25%);
}

.right_ear{
    height: 100px;
    width: 60px;
    border-radius: 100% 0 0 0;
    transform: translateX(25%);
}

.inner_left_ear{
    height:55px;
    width: 30px;
    background-color: white;
    border-radius: 0 105%  0 0;
    transform: translateX(28%) translateY(23%);
    position: absolute;
}

.inner_right_ear{
    height:55px;
    width: 30px;
    background-color: white;
    border-radius: 105% 0  0 0;
    transform: translateX(58%) translateY(23%);
    position: absolute;
}

.bubble {
    position: absolute;
  }
  
.bubble-bottom-left:before {
    position: absolute;
  }
  

.snout{
    height: 75px;
    width: 100px;
    background-color: white;
    position: absolute;
    border-radius: 100%;
    transform: translateX(75%) translateY(80%);
    z-index: 10;
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    color: rgba(255, 0, 0, 0.555);
    font-family: Roboto Condensed, sans-serif;
}

.mouth{
    position: absolute;
    height:30px;
    width:30px;
    transform: translateX(153%) translateY(-82%) rotate(90deg);
    font-size: 0.8em;
}
.whiskers{
    stroke: black;
    stroke-width:2;
    position: absolute;
    height: 200px;
    z-index: 11;
}

.eyes{
    display: flex;
    position: relative;
    z-index: 10;
    height: 75px;
    top: 25%;
    left: 19%;
}

.reye{
    background-color: rgb(253, 186, 40);
    border-radius: 100% 0% 100% 0%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
    color: black;
    font-size: 1.8em;
    text-align: center;
    transform: rotate(10deg);
    overflow: hidden;
}
.leye{
    background-color: rgb(253, 186, 40);
    border-radius: 0% 100% 0% 100%;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    color: black;
    font-size: 1.8em;
    text-align: center;
    transform: rotate(-10deg);
    overflow: hidden;
}

.lshut{
    width:60px;
    height: 45px;
    position: absolute;
    transform: translateX(-5px) translateY(4px) rotate(45deg);
    z-index: 99;
}

.lshut span{
display: block;
width: 60px;
height: 35%;
background: rgb(253, 186, 40);
border-radius: 0 0 60% 60%;
}

.rshut{
    width:60px;
    height: 45px;
    position: absolute;
    transform: translateX(-5px) translateY(4px) rotate(-45deg);
    z-index: 99;
}

.rshut span{
display: block;
width: 60px;
height: 35%;
background: rgb(253, 186, 40);
border-radius: 0 0 60% 60%;
}

.liris{
    background-color: black;
    height: 30px;
    width: 10px;
    border-radius: 50%;
    transform: translateX(190%) translateY(34%) rotate(10deg);
}

.riris{
    background-color: black;
    height: 30px;
    width: 10px;
    border-radius: 50%;
    transform: translateX(150%) translateY(45%) rotate(-10deg);
}
.stripes{
    position: absolute;
    z-index: 12;
    stroke: rgb(165, 91, 6);
    stroke-width:3;
    height: 150px;
}

.catbod{
    height: 500px;
    width: 400px;
    position: absolute;
    transform: translateY(80%) translateX(10%);
}

.catbod_top{
    height: 250px;
    width: 200px;
    border-radius: 80%;
    background-color: rgb(170, 114, 9);
    position: absolute;
    transform: translateX(57%) translateY(-33%);
}
.catbod_bottom{
    height: 300px;
    width: 350px ;
    border-radius: 50% 30% 30% 50%;
    background-color: rgb(170, 114, 9);
    position: absolute;
}

.tail1{
    height:300px;
    width: 350px;
    border-bottom:15px dashed;
    border-bottom-color: white;
    border-radius: 50%;
    position: absolute;
    transform-origin: 0 50%;

    z-index: 12;
}
.tail2{
    height:300px;
    width: 350px;
    border-bottom:15px solid;
    border-bottom-color: orange;
    border-radius: 50%;
    position: absolute;
    transform-origin: 0 50%;

}

.legs{
    height: 375px;
    width: 375px;
    position: absolute;
    transform: translateX(45%) translateY(115%);
    z-index: 13;
}

.lleg{
    height: 275px;
    width: 40px;
    background-image: linear-gradient(orange, white);;
    border-radius: 20% 20% 0 0;
    position: absolute;
}

.rleg{
    height: 275px;
    width: 40px;
    background-image: radial-gradient(white, orange);
    border-radius: 20% 20% 0 0;
    position: absolute;
    margin-left: 120px;
}

.belly{
    height:185px;
    width:155px;
    background-color: white;
    border-radius: 80%;
    transform: translateX(93%) translateY(35%);
}
.tailWag{
    transform:rotate(0);
}

.tiltingHead{
    animation: movehead 3s infinite;
}

@keyframes movehead{
    0% {
        transform: translateY(80%) rotate(5deg);
    }

    33% {
        transform: translateY(80%) rotate(0deg)
    }

    66% {
        transform: translateY(80%) rotate(-5deg) 
    }

    100% {
        transform: translateY(80%) rotate(0)
    }
}

.fattyWaggingTail{
    animation: fatWagTail 3s infinite;
}

@keyframes fatWagTail{
    0%{
        transform: translateY(125%) translateX(15%) rotate(20deg)
    }
    25%{
        transform: translateY(125%) translateX(15%) rotate(15deg)
    }
    50%{
        transform: translateY(125%) translateX(15%) rotate(20deg)
    }
    75%{
    transform: translateY(125%) translateX(15%) rotate(25deg)
    }
    100%{
        transform: translateY(125%) translateX(15%) rotate(20deg)
    }

}

.slouchWaggingTail{
    animation: slouchWagTail 3s infinite;
}

@keyframes slouchWagTail{
    0%{
        transform: translateY(125%) translateX(10%) rotate(20deg)
    }
    25%{
        transform: translateY(125%) translateX(10%) rotate(15deg)
    }
    50%{
        transform: translateY(125%) translateX(10%) rotate(20deg)
    }
    75%{
    transform: translateY(125%) translateX(10%) rotate(25deg)
    }
    100%{
        transform: translateY(125%) translateX(10%) rotate(20deg)
    }

}

.slimWaggingTail{
    animation: slimWagTail 3s infinite;
}

@keyframes slimWagTail{
    0%{
        transform: translateY(128%) translateX(31%) rotate(20deg)
    }
    25%{
        transform: translateY(128%) translateX(31%) rotate(15deg)
    }
    50%{
        transform: translateY(128%) translateX(31%) rotate(20deg)
    }
    75%{
    transform: translateY(128%) translateX(31%) rotate(25deg)
    }
    100%{
        transform: translateY(128%) translateX(31%) rotate(20deg)
    }

}

.skinnyWaggingTail{
    animation: skinnyWagTail 3s infinite;
}

@keyframes skinnyWagTail{
    0%{
        transform: translateY(133%) translateX(40%) rotate(20deg)
    }
    25%{
        transform: translateY(133%) translateX(40%) rotate(15deg)
    }
    50%{
        transform: translateY(133%) translateX(40%) rotate(20deg)
    }
    75%{
    transform: translateY(133%) translateX(40%) rotate(25deg)
    }
    100%{
        transform: translateY(133%) translateX(40%) rotate(20deg)
    }

}

.waggingTail{
    animation: wagTail 3s infinite;
}

@keyframes wagTail{
    0%{
        transform: translateY(128%) translateX(25%) rotate(20deg)
    }
    25%{
        transform: translateY(128%) translateX(25%) rotate(15deg)
    }
    50%{
        transform: translateY(128%) translateX(25%) rotate(20deg)
    }
    75%{
    transform: translateY(128%) translateX(25%) rotate(25deg)
    }
    100%{
        transform: translateY(128%) translateX(25%) rotate(20deg)
    }
}

.bottom_buttons{
    display: flex;
    bottom: 10%;
}
.kittyButton{
    margin: 5%;
}

#myCatList{
    display: flex;
    background: black;
    max-width: 97vw;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
}